{% extends 'base.html'%}
{% block content%}
<style>
	.pic{
		width: 200px;
		height: 200px;
	}
	
</style>
	


<div class="container">
	
	
 
	{% for article in articles %}
	<div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		
			<img class="pic" src="{{article.image}}" alt="{{article.title}}">
		
	</div>	
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">     
	
			<h3><a href="{{article.url}}">{{article.title}}</a></h3>
			<p>{{article.description}}</p>			      
			<p>Posted on:<i> {{article.date|truncate(13)}}</i> by:<i>{{article.author}}</i></p>	
			<hr>
	</div>	
	</div>
			
	
	
	
	{% endfor %}

</div>
{%endblock%}