

{% extends 'base.html'%}

{% import 'macros.html' as macro%}

  
 <!-- Content block -->
{% block content %}

<div class="container">
    <div class="row">
        
    <form >
        <input type="text" name="news_query" placeholder="Search for news" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
    
    </div>


    <div class="row">
        <h3 class='text-center'> <u> HEADLINES</u></h3>
        <ul>
            {{ macro.displayNewsList(news)}}
        </ul>
    


    </div>


</div>




{% endblock%}