

{% extends 'base.html'%}

{% import 'macros.html' as macro%}

  
 <!-- Content block -->
{% block content %}

<div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for news" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>

<!-- Popular movie -->
<h3> Floods News</h3>
<ul>
    {{ macro.displayNewsList(floods)}}
</ul>
<!-- Upcoming movie  -->
<h3> Tech News </h3>
<ul>
    {{ macro.displayNewsList(tech)}}
</ul>


{% endblock%}