<h1> {{ message }} </h1>
<!DOCTYPE html>
{% import 'macros.html' as macro%}
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> the news app </title>
        {% endif %}
    </head>
    <body>
        <!-- floods news section  -->
        <h3> floods news</h3>
         <ul>
            {{ macro.displayNewsList(floods)}}
        </ul>

        <!-- technology news section  -->
        <h3> tech news</h3>
         <ul>
            {{ macro.displayNewsList(technology)}}
        </ul>
        

    </body>
</html>