{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
        
        
            <a href="{{news.url}}">
                <h3>{{ news.title}}</h3></a>
            <p>{{news.description}}</p>
            <P><i>{{news.author}}<br>{{news.published_at}}</i></P>
        
        <hr>
    {% endfor %}

{% endmacro %}

{% macro displayCnnList(news_list) %}

    {% for cnn in news_list %}
        
        
            <a href="{{cnn.url}}">
                <h3>{{ cnn.title}}</h3></a>
            <p>{{cnn.description}}</p>
            <P><i>{{cnn.author}}<br>{{cnn.published_at}}</i></P>
        
        <hr>
    {% endfor %}

{% endmacro %}


