{% macro displayNewsList(news_list) %}

    {% for sources in news_list %}
        
        
            <a href="/sources/{{sources.id}}">
                <h3>{{ sources.name}}</h3></a>
            <p>{{sources.description}}</p>
            
        
        <hr>
    {% endfor %}

{% endmacro %}

{% macro displayResults(articles_list) %}

{% for article in articles_list %}
        
        
<a href="{{article.url}}">
    <h3>{{ article.title}}</h3></a>
<p>{{article.description}}</p>
<p>posted on:-<i>{{article.date|truncate(13)}}</i> by <i>{{article.author}} </i></p>


<hr>
{% endfor %}
{% endmacro %}




